<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans|Material+Icons&display=swap" rel="stylesheet">
    <link href="../css/instant-search.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../js/instant-search.js" type="module"></script>
    
    {% block css %}
    {% endblock %}

    {% block script %}
    {% endblock %}

    <title>
        {% block title %}  
        Lucha - {{ pagename }}
        {% endblock %}
    </title>

  </head>
    
  <body>
    <!-- HEADER -->
    {% block header %}
    <header>
        <div class="inner-header">
            <!-- LOGO -->
            <a href="/">
                <div class="logo-container">
                     <h1>Lucha.</h1>
                </div>
            </a>

            <!-- MENÚ -->
            <ul class="navigation">
                <!-- BÚSQUEDA -->
                <li>
                    <div id="searchEvents" class="instant-search">
                        <div class="instant-search__input-container">
                            <input class="instant-search__input" spellcheck="false" type="text" placeholder="Búsqueda...">
                            <i class="material-icons instant-search__icon">search</i>
                        </div>

                        <!--
                        <div class="instant-search__results-container">
                            <a href="#" class="instant-search__result">
                                <div class="instant-search__title">
                                    Título del evento
                                </div>
                                <p class="instant-search__paragraph">
                                    Lorem fistrum hasta luego Lucas sexuarl llevame al sircoo papaar papaar ese hombree sexuarl. 
                                    Fistro diodenoo diodenoo mamaar diodenoo pupita diodenoo te va a hasé pupitaa quietooor. 
                                    Condemor de la pradera ese que llega hasta luego Lucas pupita apetecan de la pradera no te digo trigo por no llamarte Rodrigor. 
                                    Te voy a borrar el cerito te va a hasé pupitaa diodeno pecador.
                                </p>
                            </a>

                            <a href="#" class="instant-search__result">
                                <div class="instant-search__title">
                                    Título del evento
                                </div>
                                <p class="instant-search__paragraph">
                                    Lorem fistrum hasta luego Lucas sexuarl llevame al sircoo papaar papaar ese hombree sexuarl. 
                                    Fistro diodenoo diodenoo mamaar diodenoo pupita diodenoo te va a hasé pupitaa quietooor. 
                                    Condemor de la pradera ese que llega hasta luego Lucas pupita apetecan de la pradera no te digo trigo por no llamarte Rodrigor. 
                                    Te voy a borrar el cerito te va a hasé pupitaa diodeno pecador.
                                </p>
                            </a>
                        </div>
                        -->

                    </div>
                </li>

                <li><a class="menu-element" href="">Inicio</a></li>

                {% if username is defined %}
                    <li><a class="menu-element">Perfil de {{ username }}</a></li>

                    {% if role != "regular" %}
                    <li><a class="menu-element" href="/cpanel">Panel de control</a></li>
                    {% endif %}

                    <li><a class="menu-element" href="/logout">Cerrar sesión</a></li>

                {% else %}
                    <li><a class="menu-element" href="/login">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    {% endblock %}
    
    <div class="grid-body">
        <!-- COLUMNA LATERAL -->
        {% block sidebar %}
        <div class="sidebar-menu">
            <div>
                <h3><b>Lucha más. Pásalo bien.</b></h3>
                <p>
                    Esta página tiene como objetivo conectar a personas que disfrutan del placer de darse de guantazos a plena luz del día de forma amistosa.
                </p>
                <p>
                    Desde <b>Lucha.</b> ponemos a tu disposición consejos y guías para practicar esta bella afición sin riesgo de dañarte a ti o a otros.
                    Recordad que estos eventos son 100% voluntarios y amistosos, por lo que está terminantemente prohibido pegarse con fines malévolos.
                </p>
            </div>
            
            <div>
                <h3><b>Consejos para no hacerse daño</b></h3>
                <ul>
                    <a href="https://www.decathlon.es/es/sport/c0-deportes/c1-boxeo/_/N-1p4kiqe" title="Equipamiento de boxeo" target="_blank"><li>Comprar buen material</li></a>
                    <a href="https://www.youtube.com/watch?v=-kgVnNAHLLM&t=1s" title="Vendaje de boxeo" target="_blank"><li>Seguir buenas guías</li></a>
                    <a href="https://www.youtube.com/watch?v=LjeJmHg_S4A" title="Boxeo para principiantes" target="_blank"><li>Practicar en casa</li></a>
                    <a href="https://www.youtube.com/watch?v=myUlZvXl1_o" title="Lucha gratis" target="_blank"><li>Lucha gratis</li></a>
                </ul>           
            </div>
        </div>
        {% endblock %}

        <!-- CENTRO DE LA PÁGINA-->
        {% block center %}
        {% endblock %}
    </div>
    
    <!-- FOOTER -->
    {% block footer %}
    <footer>
        <div class="inner-footer">            
            <!-- COSAS -->
            <div class="logo-container">
                <h1>Lucha.</h1>
            </div>
            <span>Todos los derechos reservados.</span>
        </div>
    </footer>
    {% endblock %}
  </body>  
</html>