{% extends "base.html" %}

{% block css %}
<link href="../css/cpanel.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebar %}
<div class="sidebar-menu">
    <h1>Panel de control</h1>
    <br>
    <ul>
        <li><a href="/nuevo">Publicar evento</a></li>

        {% if role == "admin" or role == "gest" %}
            <li><a href="/lista-eventos">Lista de eventos</a></li>
            <li><a href="/lista-usuarios">Lista de usuarios</a></li>
        {% endif %}

        {% if role == "admin" or role == "mod" %}
            <li><a href="/lista-comentarios">Lista de comentarios</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block center %}
<div class="cpanel-element">
    {% block cpanel %}
    <h1> Bienvenido al panel de control.</h1>
    <br>
    <p>Haz cosas y más cosas teniendo el control.</p>
    {% endblock %}
</div>
{% endblock %}



