{% extends "base.html" %}

{% block css %}
<link href="../css/evento.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
<script src="../js/comentarios.js"></script>
{% endblock %}

{% block center %}
<!-- PÁGINA DE EVENTO -->
<div class="event-page">
    <!-- FOTOS -->
    <div id="container">
        {% for image in images %}
            <figure>
                <img src={{ image.ruta }}>
                <figcaption>{{ image.pie }}</figcaption>
            </figure>
        {% endfor %}
    </div>
    <!-- INFO DEL EVENTO -->
    <div class="event-description">
        <!-- Datos del evento -->
        <h1>{{ title }}</h1>
        <h6>Autor: {{ author }}</h6>
        <h6>Fecha: {{ date }}</h6>
        <br>

        <!-- Descripción del evento-->
        {{ content|raw }}
    </div>

    <!-- BOTONES REDES -->
    <a href="https://twitter.com">
        <img class="social-button" src="../img/twitterimg.png">
    </a>
    <a href="https://instagram.com">
        <img class="social-button" src="../img/insta.png">
    </a>
    <a href="../php/evento-imprimir.php">
        <img class="social-button" src="../img/Print.png">
    </a> 
    
    <img class="social-button" src="../img/comment.png" onclick="openNav()">
</div>

<!-- SECCIÓN DE COMENTARIOS -->
<div id="comments-section" class="sidepanel">
    <div id="comments-title" class="sidepanel-title">
        <img class="closebtn" src="../img/close.png" onclick="closeNav()">
        <h3>Comentarios</h3>
    </div>

    <div id="comments" class="comments">
        {% for comment in comments %}
        <div class="comment">
            <h4>{{ comment.autor }} - {{ comment.fecha }}</h4>
            <p>{{ comment.contenido }}</p>
        </div>
        {% endfor %}
    </div>

    <div id="comments-form">
        <h3>Publica un comentario</h3>
        <form id="postcomment" action="/subir-comentario" onsubmit="validateForm()" method="POST">
            <!-- META-->
            <input type="hidden" id="event" name="event" value={{ id }}>
            <input type="hidden" id="author" name="author" value={{ username }}>
     
            <label for="comment">Comentario:</label><br>
            <textarea id="comment-area" name="comment" form="postcomment" oninput="liveCensorship('comment-area')"></textarea>
            <input type="submit" value="Publicar">
        </form>

        <!-- CKEditor
        <script>
            ClassicEditor.create(document.querySelector('#editor')).catch(error => {
                console.error(error);
            });
        </script>
        -->
    </div>
</div>
{% endblock %}