{% extends "cpanel.html" %}

{% block cpanel %}
<h1>Lista de usuarios</h1>

<table>
    <tr>
        <th>Nombre de usuario</th>
        <th>Permisos</th>
        <th>Opciones</th>
    </tr>

    {% for usuario in usuarios %}
    <tr>
        <td><a>{{ usuario.username }}</a></td>
        {% if usuario.rol == 0 %}
        <td>Administrador</td>
        {% elseif usuario.rol == 1 %}
        <td>Gestor</td>
        {% elseif usuario.rol == 2 %}
        <td>Moderador</td>
        {% else %}
        <td>Usuario</td>
        {% endif %}
        <td>
            <button type="button">Cambiar permisos</button>
            <form action="/borrar-usuario" method="POST">
                <input type="hidden" name="username" value="{{ usuario.username }}">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock %}