{% extends "cpanel.html" %}

{% block cpanel %}
<h1>Lista de eventos</h1>

<table>
    <tr>
        <th>Título</th>
        <th>Autor</th>
        <th>Fecha</th>
        <th>Opciones</th>
    </tr>

    {% for evento in eventos %}
    <tr>
        <td><a href="evento/{{ evento.id }}">{{ evento.titulo }}</a></td>
        <td>{{ evento.autor }}</td>
        <td>{{ evento.fecha }}</td>
        <td>
            <form action="/modificar-evento" method="POST">
                <input type="hidden" name="event-id" value="{{ evento.id }}">
                <button type="submit">Modificar</button>
            </form>
            <form action="/borrar-evento" method="POST">
                <input type="hidden" name="event-id" value="{{ evento.id }}">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock %}