{% extends "cpanel.html" %}

{% block script %}
<script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js"></script>
{% endblock %}

{% block cpanel %}
<h1>Nuevo evento</h1>

<form id="newevent" action="subir-evento" method="post" enctype="multipart/form-data">
    <label for="title">Título:</label><br>
    <input type="text" id="title" name="title" required><br>
    <label for="title">Portada:</label><br>
    <input type="file" id="cover" name="cover" required><br>     
    <label for="title">Imágenes (opcional):</label><br>
    <input type="file" name="images[]" multiple><br>   
    <label for="comment">Descripción del evento:</label><br>
    <textarea id="editor" name="event" form="newevent"></textarea>
    <input type="submit" value="Publicar">
</form>

<script>
    ClassicEditor.create(document.querySelector('#editor')).catch(error => {
        console.error(error);
    });
</script>
{% endblock %}