{% extends "base.html" %}

{% block css%}
<link href="../css/portada.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block center %}
<form id="login" action="/subirusuario" method="POST">
    <label for="username">Nombre de usuario:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="title">Contraseña:</label><br>
    <input type="password" id="passwd" name="passwd" required><br>
    <label for="title">Rol:</label><br>
    <input type="text" id="role" name="role" required><br>
    <input type="submit" value="Registrar">
{% endblock %}