*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    background-color: #fff7eb;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #101010;
}

.inner-header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    color: #fff7eb;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Bowlby One SC";
    font-size: 40px;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
}