@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

html {
  background-color: #ffc0ee;
}

body {
  width: 
  margin: 0 auto;
  background-color: #ffefd8;
  padding: 0 20px 20px 20px;
  border: 5px solid #fda7e6;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #ff74da;
  text-shadow: 3px 3px 1px #fda7e6;
}

img {
  display: block;
  margin: 0 auto;
}

h2 {
    font-size: 20px;
}

link {
    color: #3e8bc4;
}

.header {
  margin: 0;
  padding: 0 5em;
  text-align: center;
  background: #fda7e6;
  color: white;
  font-size: 30px;
}

.title {
    margin: 0;
    padding: 0 auto;
    color: #d8435a;
    font-size: 35px;
    font-family: "Lacquer";
}