*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Open Sans";
    box-sizing: border-box;
}

html {
    background-color: #fff7eb;
}

header {
    width: 100%;
    height: 80px;
    background-color: #101010;
}

.inner-header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    color: #fff7eb;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Bowlby One SC";
    font-size: 40px;    width: 100%;
    height: 80px;
    background-color: #101010;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation input[type=text] {
    display: table-cell;
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.grid-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1em;
    grid-auto-rows: minmax(800px, auto);
}

.sidebar-menu {
    padding: 3em;
    background: #eadecd;
    height: 100%;
}

.sidebar-menu p {
    margin-bottom: 1em;
}

.cpanel-element {
    margin: 3em;
    padding: 1em;
}

.cpanel-element h1 {
    font-weight: bold;
    font-size: 50px;
}

.cpanel-element h3 {
    font-size: 25px;
}

.cpanel-element h6 {
    font-size: 15px;
}

.sidebar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.sidebar-menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar-menu li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

table {
    width: 100%;
    text-align: left;
}

th {
    background-color: #101010;
    color: #fff7eb;
}

th, td {
    padding-left: 2em;
    height: 3em;
}


tr:nth-child(odd) {
    background-color: #eadecd;
}


footer {
    width: 100%;
    height: 80px;
    background-color: #101010;
    color: #fff7eb;
}

.inner-footer {
    display: table;
    width: 25%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.inner-footer span {
    display: table-cell;
    vertical-align: middle;
}